#areaClicavel1 {
    position: absolute;
    width: 5.20em;
    height: 1.11em;
    left: 4.84em;
    top: 4.65em;
    cursor: pointer;
    background-color: rgb(179, 44, 44); 
}

#areaClicavel2 {
    position: absolute;
    width: 5.85em;
    height: 1.15em;
    left: 4.84em;
    top: 10.65em;
    cursor: pointer;
    background-color: rgb(179, 44, 44); 

}

#areaClicavel3 {
    position: absolute;
    width: 2.90em;
    height: 1.11em;
    left: 4.50em;
    top: 13.30em;
    cursor: pointer;
    background-color: rgb(179, 44, 44); 

}
#areaClicavelSeta {
    position: absolute;
    width: 2.90em;
    height: 1.11em;
    left: 4.84em;
    top: 15.65em;
    cursor: pointer;
    background-color: rgb(179, 44, 44); 
}

#areaClicavelPerg1 {
    position: absolute;
    width: 2.90em;
    height: 5.11em;
    left: 14.84em;
    top: 10.65em;
    cursor: pointer;
    background-color: rgb(179, 44, 44); 
}

#areaClicavelSetaSairRoom1 {
    position: absolute;
    width: 1.11em;
    height: 2.90em;
    left: 28.84em;
    top: 30.65em;
    cursor: pointer;
    background-color: rgb(179, 44, 44); 
}