#areaClicavel1 {
    position: absolute;
    width: 5.20em;
    height: 1.11em;
    left: 4.84em;
    top: 4.65em;
    cursor: pointer;
    background-color: rgb(179, 44, 44); 
}

#areaClicavel2 {
    position: absolute;
    width: 5.85em;
    height: 1.15em;
    left: 4.84em;
    top: 10.65em;
    cursor: pointer;
    background-color: rgb(179, 44, 44); 

}

#areaClicavel3 {
    position: absolute;
    width: 2.90em;
    height: 1.11em;
    left: 4.50em;
    top: 13.30em;
    cursor: pointer;
    background-color: rgb(179, 44, 44); 

}
#areaClicavelSetaEsquerda{
    position: absolute;
    width: 2.90em;
    height: 1.11em;
    left: 2em;
    top: 17.65em;
    cursor: pointer;
    background-color: rgb(179, 44, 44); 
}

#areaClicavelSetaDireita {
    position: absolute;
    width: 2.90em;
    height: 1.11em;
    left: 57.84em;
    top: 17.65em;
    cursor: pointer;
    background-color: rgb(179, 44, 44); 
}

#areaClicavelSetaBaixo{
    position: absolute;
    width: 1.11em;
    height: 2.90em;
    left: 28.84em;
    top: 30.65em;
    cursor: pointer;
    background-color: rgb(179, 44, 44); 
}

.area-clicavel {
    position: absolute;
    cursor: pointer;
    background-color: rgb(179, 44, 44); 
  }