.iframe-container {
  width: 960px;
  height: 540px;
  display: block;
  margin: 0 auto; 
}

.itemInventario {
  width: 50px;
  height: 50px;

}

img {
  width: 960px;
  height: 540px;
  border-radius: 16px;
}

.container-fluid {
  position: absolute;
  margin-top: -350px;
  margin-left: 600px;
}

.container-fluid input {
  box-sizing: border-box;
  margin-top: 16px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  height: 64px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  width: 100%;
}

.enviar {
  width: 100%;
  height: 52px;
  margin-top: 48px;
  background: #1F64B4;
  border-radius: 999px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.container {
  margin-left: 100px;
  margin-top: -400px;
}

.question-text {
  position: absolute;
  margin-top: -460px;
  margin-left: 240px;
  width: 220px;
  text-align: justify;
}

.alternativas {
  position: absolute;
  margin-top: -450px;
  margin-left: 500px;
  width: 220px;
}
