/* Define o tamanho mínimo e máximo da largura da tela */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    /* Estilos para dispositivos móveis */
    body {
      width: 100%;
      padding: 0 10px;
    }
  
    img {
      position: relative;
      width: 100%;
      height: auto;
      margin-top: 30px;
    }
  
    .title {
      margin-top: 30px;
      font-size: 24px;
    }
  
    .subtitle {
      margin-top: 20px;
      font-size: 12px;
    }
  
    .container-fluid {
      margin-top: 30px;
      width: 100%;
    }
  
    .container-fluid input {
      height: 48px;
      font-size: 14px;
      padding-left: 16px;
    }
  
    .entrar {
      margin-top: 30px;
      font-size: 14px;
      height: 44px;
    }
  
    .helpText {
      margin-top: 20px;
      font-size: 12px;
    }
  
    a {
      margin-top: 20px;
      font-size: 14px;
      height: 44px;
      padding: 12px 20%;
    }
  }
  
  /* Estilos para desktops */
  @media only screen and (min-width: 768px) {
    body {
      width: 390px;
      margin: auto;
    }
  
    img {
      left: 78px;
      top: 48px;
    }
  
    .title {
      margin-left: 16px;
      margin-top: 56px;
    }
  
    .subtitle {
      margin-left: 16px;
    }
  
    .container-fluid {
      margin-top: 48px;
      width: 90%;
    }
  
    .container-fluid input {
      height: 64px;
      font-size: 16px;
      padding-left: 24px;
    }
  
    .entrar {
      margin-top: 56px;
      font-size: 14px;
      height: 52px;
    }
  
    .helpText {
      margin-top: 72px;
      font-size: 12px;
    }
  
    a {
      height: 52px;
      font-size: 14px;
      padding: 16px 25%;
    }
  }